trunk/eccs/triagews/src/conf/xml-resources/web-service-references/DocUserService/wsdl/localhost_8888/PagsanjanUser/DocUserService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="DocUserService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8888/PagsanjanUser/DocUserService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getPassword">
<part name="parameters" element="tns:getPassword"></part>
</message>
<message name="getPasswordResponse">
<part name="parameters" element="tns:getPasswordResponse"></part>
</message>
<message name="getUsername">
<part name="parameters" element="tns:getUsername"></part>
</message>
<message name="getUsernameResponse">
<part name="parameters" element="tns:getUsernameResponse"></part>
</message>
<message name="resetUser">
<part name="parameters" element="tns:resetUser"></part>
</message>
<message name="resetUserResponse">
<part name="parameters" element="tns:resetUserResponse"></part>
</message>
<message name="loggedIn">
<part name="parameters" element="tns:loggedIn"></part>
</message>
<message name="loggedInResponse">
<part name="parameters" element="tns:loggedInResponse"></part>
</message>
<message name="newLoginmsg">
<part name="parameters" element="tns:newLoginmsg"></part>
</message>
<message name="newLoginmsgResponse">
<part name="parameters" element="tns:newLoginmsgResponse"></part>
</message>
<message name="userLogin">
<part name="parameters" element="tns:userLogin"></part>
</message>
<message name="userLoginResponse">
<part name="parameters" element="tns:userLoginResponse"></part>
</message>
<message name="userLogout">
<part name="parameters" element="tns:userLogout"></part>
</message>
<message name="userLogoutResponse">
<part name="parameters" element="tns:userLogoutResponse"></part>
</message>
<message name="getLoginmsg">
<part name="parameters" element="tns:getLoginmsg"></part>
</message>
<message name="getLoginmsgResponse">
<part name="parameters" element="tns:getLoginmsgResponse"></part>
</message>
<message name="getFirstname">
<part name="parameters" element="tns:getFirstname"></part>
</message>
<message name="getFirstnameResponse">
<part name="parameters" element="tns:getFirstnameResponse"></part>
</message>
<message name="getMiddlename">
<part name="parameters" element="tns:getMiddlename"></part>
</message>
<message name="getMiddlenameResponse">
<part name="parameters" element="tns:getMiddlenameResponse"></part>
</message>
<message name="getLastname">
<part name="parameters" element="tns:getLastname"></part>
</message>
<message name="getLastnameResponse">
<part name="parameters" element="tns:getLastnameResponse"></part>
</message>
<message name="getInstitution">
<part name="parameters" element="tns:getInstitution"></part>
</message>
<message name="getInstitutionResponse">
<part name="parameters" element="tns:getInstitutionResponse"></part>
</message>
<message name="getEmail">
<part name="parameters" element="tns:getEmail"></part>
</message>
<message name="getEmailResponse">
<part name="parameters" element="tns:getEmailResponse"></part>
</message>
<message name="getDocid">
<part name="parameters" element="tns:getDocid"></part>
</message>
<message name="getDocidResponse">
<part name="parameters" element="tns:getDocidResponse"></part>
</message>
<portType name="DocU">
<operation name="getPassword">
<input message="tns:getPassword"></input>
<output message="tns:getPasswordResponse"></output>
</operation>
<operation name="getUsername">
<input message="tns:getUsername"></input>
<output message="tns:getUsernameResponse"></output>
</operation>
<operation name="resetUser">
<input message="tns:resetUser"></input>
<output message="tns:resetUserResponse"></output>
</operation>
<operation name="loggedIn">
<input message="tns:loggedIn"></input>
<output message="tns:loggedInResponse"></output>
</operation>
<operation name="newLoginmsg">
<input message="tns:newLoginmsg"></input>
<output message="tns:newLoginmsgResponse"></output>
</operation>
<operation name="userLogin">
<input message="tns:userLogin"></input>
<output message="tns:userLoginResponse"></output>
</operation>
<operation name="userLogout">
<input message="tns:userLogout"></input>
<output message="tns:userLogoutResponse"></output>
</operation>
<operation name="getLoginmsg">
<input message="tns:getLoginmsg"></input>
<output message="tns:getLoginmsgResponse"></output>
</operation>
<operation name="getFirstname">
<input message="tns:getFirstname"></input>
<output message="tns:getFirstnameResponse"></output>
</operation>
<operation name="getMiddlename">
<input message="tns:getMiddlename"></input>
<output message="tns:getMiddlenameResponse"></output>
</operation>
<operation name="getLastname">
<input message="tns:getLastname"></input>
<output message="tns:getLastnameResponse"></output>
</operation>
<operation name="getInstitution">
<input message="tns:getInstitution"></input>
<output message="tns:getInstitutionResponse"></output>
</operation>
<operation name="getEmail">
<input message="tns:getEmail"></input>
<output message="tns:getEmailResponse"></output>
</operation>
<operation name="getDocid">
<input message="tns:getDocid"></input>
<output message="tns:getDocidResponse"></output>
</operation>
</portType>
<binding name="DocUserPortBinding" type="tns:DocU">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getPassword">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUsername">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="resetUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="loggedIn">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="newLoginmsg">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="userLogin">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="userLogout">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getLoginmsg">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getFirstname">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getMiddlename">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getLastname">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getInstitution">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getEmail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDocid">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="DocUserService">
<port name="DocUserPort" binding="tns:DocUserPortBinding">
<soap:address location="http://localhost:8888/PagsanjanUser/DocUserService"></soap:address>
</port>
</service>
</definitions>