eccs/triagews/src/conf/xml-resources/web-service-references/SendRxDataService/wsdl/localhost_8080/Pagsanjan/SendRxDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="SendRxDataService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Pagsanjan/SendRxDataService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="newCreatemsg">
<part name="parameters" element="tns:newCreatemsg"></part>
</message>
<message name="newCreatemsgResponse">
<part name="parameters" element="tns:newCreatemsgResponse"></part>
</message>
<message name="getCreatemsg">
<part name="parameters" element="tns:getCreatemsg"></part>
</message>
<message name="getCreatemsgResponse">
<part name="parameters" element="tns:getCreatemsgResponse"></part>
</message>
<message name="sendRxData">
<part name="parameters" element="tns:sendRxData"></part>
</message>
<message name="sendRxDataResponse">
<part name="parameters" element="tns:sendRxDataResponse"></part>
</message>
<portType name="SendR">
<operation name="newCreatemsg">
<input message="tns:newCreatemsg"></input>
<output message="tns:newCreatemsgResponse"></output>
</operation>
<operation name="getCreatemsg">
<input message="tns:getCreatemsg"></input>
<output message="tns:getCreatemsgResponse"></output>
</operation>
<operation name="sendRxData">
<input message="tns:sendRxData"></input>
<output message="tns:sendRxDataResponse"></output>
</operation>
</portType>
<binding name="SendRxDataPortBinding" type="tns:SendR">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="newCreatemsg">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCreatemsg">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="sendRxData">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SendRxDataService">
<port name="SendRxDataPort" binding="tns:SendRxDataPortBinding">
<soap:address location="http://localhost:8080/Pagsanjan/SendRxDataService"></soap:address>
</port>
</service>
</definitions>