trunk/eccs/triage/src/conf/xml-resources/web-service-references/DocUserService/wsdl/localhost_15880/PagsanjanUser/DocUserService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="getDocid" type="tns:getDocid"></xs:element>

<xs:element name="getDocidResponse" type="tns:getDocidResponse"></xs:element>

<xs:element name="getEmail" type="tns:getEmail"></xs:element>

<xs:element name="getEmailResponse" type="tns:getEmailResponse"></xs:element>

<xs:element name="getFirstname" type="tns:getFirstname"></xs:element>

<xs:element name="getFirstnameResponse" type="tns:getFirstnameResponse"></xs:element>

<xs:element name="getInstitution" type="tns:getInstitution"></xs:element>

<xs:element name="getInstitutionResponse" type="tns:getInstitutionResponse"></xs:element>

<xs:element name="getLastname" type="tns:getLastname"></xs:element>

<xs:element name="getLastnameResponse" type="tns:getLastnameResponse"></xs:element>

<xs:element name="getLoginmsg" type="tns:getLoginmsg"></xs:element>

<xs:element name="getLoginmsgResponse" type="tns:getLoginmsgResponse"></xs:element>

<xs:element name="getMiddlename" type="tns:getMiddlename"></xs:element>

<xs:element name="getMiddlenameResponse" type="tns:getMiddlenameResponse"></xs:element>

<xs:element name="getPassword" type="tns:getPassword"></xs:element>

<xs:element name="getPasswordResponse" type="tns:getPasswordResponse"></xs:element>

<xs:element name="getUsername" type="tns:getUsername"></xs:element>

<xs:element name="getUsernameResponse" type="tns:getUsernameResponse"></xs:element>

<xs:element name="loggedIn" type="tns:loggedIn"></xs:element>

<xs:element name="loggedInResponse" type="tns:loggedInResponse"></xs:element>

<xs:element name="newLoginmsg" type="tns:newLoginmsg"></xs:element>

<xs:element name="newLoginmsgResponse" type="tns:newLoginmsgResponse"></xs:element>

<xs:element name="resetUser" type="tns:resetUser"></xs:element>

<xs:element name="resetUserResponse" type="tns:resetUserResponse"></xs:element>

<xs:element name="userLogin" type="tns:userLogin"></xs:element>

<xs:element name="userLoginResponse" type="tns:userLoginResponse"></xs:element>

<xs:element name="userLogout" type="tns:userLogout"></xs:element>

<xs:element name="userLogoutResponse" type="tns:userLogoutResponse"></xs:element>

<xs:complexType name="getUsername">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getUsernameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastname">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getLastnameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLoginmsg">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getLoginmsgResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userLogout">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="userLogoutResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getFirstname">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getFirstnameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMiddlename">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getMiddlenameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDocid">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getDocidResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPassword">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getPasswordResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loggedIn">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="loggedInResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newLoginmsg">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="newLoginmsgResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userLogin">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInstitution">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getInstitutionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmail">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getEmailResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resetUser">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="resetUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>